[submodule "submodules/CommandLineCore"]
	path = submodules/CommandLineCore
	url = git@github.com:sleifer/CommandLineCore.git
[submodule "submodules/ObjectMapper"]
	path = submodules/ObjectMapper
	url = git@github.com:Hearst-DD/ObjectMapper.git
